@import url("custom.css");

.bd-page-width{
    max-width: 90%;
}

.bd-article{
    height: 100%;
}

.bd-main .bd-content .bd-article-container{
    max-width:90%;
}

.bd-sidebar-primary{
    max-width: 18rem;
}

.bd-sidebar-primary ul{
    margin-block-start: 0.5rem;
    padding-inline-start:0.5rem;
    list-style: none;
}

ul.ablog-cloud{
    list-style: none;
    display: grid;
}


.sidebar-primary-item{
    --pst-font-size-h3: 1.5rem;

}

